<div class="bg">
  <div class=" text-center">
    <h1 class="py-5">Check a Porker Hand</h1>
    <%= form_tag("/check") do %>
      <input type="text" name="hands" value="<%= @hand  %>">
      <input type="submit" value="Check">
      </div>

      <!--    <p class="py-5">役：<%#= @answer %></p>-->
      <div class="bg-mask">
        <table class="table my-5 table-striped">
          <tr>
            <th>手札</th>
            <th>役名</th>
<!--            課題1用に消してる-->
<!--            <th>一番強い手札</th>-->
          </tr>
          <% @answers.each do |answer| %>
            <tr>
              <td><%= answer[:hand] %></td>
              <td><%= answer[:answer] %></td>
<!--              課題1用に消してる-->
<!--              <td><%#= answer[:best] %></td>-->
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    </div>