<div class="bg">
  <div class=" text-center">
    <h1 class="py-5">Check a Porker Hand</h1>
    <%= form_tag("/home/check") do %>
      <input type="text" name="hands" value="<%= @hands %>">
      <input type="submit" value="Check">
      </div>

      <!--      エラーメッセージ-->
      <div class="alert-danger text-center mt-3">
        <% @hand.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>

    <% end %>
    </div>