<div class="bg">
  <div class=" text-center">
    <h1 class="py-5">Check a Porker Hand</h1>
    <%= form_tag("/check") do %>
      <input type="text" name="hands" value="<%= @hand_valid.content unless @hand_valid.nil? %>">
      <input type="submit" value="Check">
      </div>

      <!--      エラーメッセージ-->
      <% if @hand_valid.errors.any? %>
        <div class="alert-danger text-center mt-3">
          <!--        エラーを複数同時に表示する場合は以下コメントアウト部を使用-->
          <%# @hand.errors.full_messages.each do |message| %>
          <%#= message %>
          <%# end %>
          <%= @hand_valid.errors.full_messages[0] %>
        </div>
      <% end %>



    <% end %>
    </div>
</div>