// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg {
  background-image: url(/assets/poker_image.jpg);
  height: 600px;
  background-size: cover;
  color: #fff;
  p{
    font-size: x-large;
  }

}
.bg-mask{
  //height: 100%;
  background: rgba(255,255,255,0.8);
}

table{
  color:black;
}